<header class="container">
  <nav class="header-left">
    {{#link-to "index" class="masthead"}}Home{{/link-to}}
  </nav>

  <nav class="header-right">
    {{#link-to "user.edit"}}{{user.name}}{{/link-to}}
    —
    {{#link-to "basket"}}Basket ({{user.basket.length}}){{/link-to}}
  </nav>
</header>

<div class="container">
  {{outlet}}
</div>

<footer class="container">
  Versions: {{user.versions.length}}
  {{#if user.canRollback}}
    —
    <a {{action "rollback"}}>Rollback</a>
  {{/if}}
</footer>
